<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
     <servlet>
         <servlet-name>ListEmailServlet</servlet-name>
         <servlet-class>com.example.emailmanager.ListEmailServlet</servlet-class>
         <!-- Paramètre d'initialisation spécifique au servlet EmailServlet pour définir le chemin du fichier des emails. -->
         <!--<init-param>
             <param-name>filePath</param-name>
             <param-value>/WEB-INF/classes/resources/path.txt</param-value>
         </init-param>
         // Récupère le chemin du fichier d'adresses email depuis le paramètre d'initialisation spécifique au servlet.
          String filePath = getServletConfig().getInitParameter("path.txt");
         -->
     </servlet>


    <servlet-mapping>
        <servlet-name>ListEmailServlet</servlet-name>
        <url-pattern>/list-email-servlet</url-pattern>
    </servlet-mapping>
    <!-- Paramètre global pour le chemin du fichier des emails, utilisé par tous les servlets de l'application. -->
    <context-param>
        <param-name>emailFilePath</param-name>
        <param-value>/WEB-INF/classes/path.txt</param-value>
    </context-param>
    <!-- Récupère le chemin du fichier d'adresses email depuis le paramètre de contexte global.
    String filePath = getServletContext().getInitParameter("path.txt"); -->



</web-app>
